body {
    margin: 0;
    background-image: url(img/image.png);
    display: flex;
    justify-content: center;
}


.register-container {
    width: 1000px;
    height: 1000px;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 100vh; 
}

.form-container {

  display: block;
  padding: 20px;
}
.register-form {
  min-width: 600px;
  min-height: 525px;
  padding: 20px; 
  background: #dfbde4; 
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); width: 100%; max-width: 600px; height: 100%; max-height: 400px;
  opacity: 0.9;
  margin-bottom: 20px;
}

h2 { text-align: center; }
.input-group { margin-bottom: 20px; max-height: min-content }
label { font-size:1.3rem; display: block; margin-bottom: 5px; }
input { font-size:1.2rem; width: 100%; padding: 20px; border: 1px solid #ccc; border-radius: 5px; }
button { font-size: 1.3rem; width: 100%; padding: 20px; border: none; background-color: #007bff; color: white; border-radius: 5px; cursor: pointer; }
button:hover { background-color: #0056b3; } 

.signup-link {
  display: inline;  
  text-align: center;
  padding-top: 20px;
  margin-top: 50px;
  font-size: 1.1rem;
}

.signup-link p {
  color: #3c3f42;
}

.signup-link a {
  color: #3431e4;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}